

#archivos
version = "1.0"
    #clases
        #jefe
        #empleado
        #vestimenta

#main

#nuevos cambios proximos
#version 1.01
    # clases
    #     Assetstools
    #     Empleado
    #     Gerente
    #     Vestimenta
    # funciones principales
    #     main


#version 1.02

